* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    background-color: #011428;
}

.Logo {
    width: 4.8rem;
    height: 4rem;
    margin-top: 0.4rem;
    margin-right: 10.12rem;

}

.navegacao {
    gap: 10rem;
    display: flex;
    width: 70rem;
    height: 6.25rem;
    justify-content: space-between;
    margin-left: 12.18rem;
    gap: 6.5rem;
    /* 40px */
    padding: 0.625rem 0;
    /* 10px top/bottom */
    margin-left: 10.12rem;
}


a {
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 900;
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
    margin-top: 1.5rem;
}

.login {
    background-color: transparent;
    border-color: #fff;
    border-radius: 1rem;
    border: 2px solid #FFF;
    color: #fff;
    height: 2.25rem;
    padding-inline: 2rem;
    margin-top: 1rem;
    margin-left: 10.12rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.logo-quiz {
    display: flex;
    margin: 1rem;
    justify-content: center;
    height: 9.25rem;
}

.caixa {
    width: 53.688rem;
    height: 18.875rem;
    border-radius: 0.4375rem;
    background: #C6C6C6;
    padding: 1.25rem 2.5rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-inline: auto;
}

.enunciado1 {
    display: flex;
    justify-content: center;
    height: 12.813rem;
    flex-shrink: 0;
    background: #011428;
}

.enunciado1,
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
}

.questãotemperado {
    width: 29rem;
    height: 4.75rem;
    flex-shrink: 0;
    border: 3px solid #000;
    background: #6F6F6F;
}

.questãotropumido {
    width: 29rem;
    height: 4.75rem;
    flex-shrink: 0;
    border: 3px solid #000;
    background: #6F6F6F;
}

.questãodesertico {
    width: 29rem;
    height: 4.75rem;
    flex-shrink: 0;
    border: 3px solid #000;
    background: #6F6F6F;
}

.questãopolar {
    width: 29rem;
    height: 4.75rem;
    flex-shrink: 0;
    border: 3px solid #000;
    background: #6F6F6F;
}

.questao1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaço entre os botões */
    max-width: 600px;
    margin: 0 auto; /* Centraliza o container */
}

.botoes {
    width: 250px;
    padding: 15px;
    background-color: gray;
    color: white;
    border: 1px solid black;
    text-align: center;
    font-family: 'Minecraft', sans-serif; /* Se estiver usando essa fonte */
    cursor: pointer;
}